body {
    font-family: 'Open Sans','helvetica',arial,sans-serif; /* 设置使用字体优先级 */
    color: #62686f; /* 默认字体颜色 */

    background-image: url("/img/bg5.jpg"); /* 设置背景图片 */
    background-attachment: fixed; /* 背景固定不滚动 */
    background-size: cover; /* 背景图片填满整个屏幕 */
    background-position: center; /* 背景图片居中 */
}

h1, h2, h3, h4, h5, h6 {
    color: #333;  /*标题字体颜色 */
    font-weight: 300; /* 设置字体粗细 */
}

nav > ul{
    list-style: none; /* 对无序列表消除默认列表样式 */
    padding-left: 0; /* 消除无序列表默认左边距 */
    margin: 0; /* 消除无序列表默认外边距 */
}

nav > ul > li {
    display: inline-block; /* 将项放置到一行 */
}

.container {
    width: 960px; /* 推荐宽度 */
    margin: 50px auto; /* 设置上下外边距并居中 */
    padding-top: 1px; /* 防止和子元素折叠外边距 */
}

.main-header {
    margin-top: 70px; /* 设置头部容器外边距 */
    padding-bottom: 1px; /* 防止和标题折叠外边距 */

    font-family: 'Open Sans','helvetica',arial,sans-serif; /* 设置使用字体优先级 */
    font-weight: 300; /* 设置字体粗细 */
    font-size: 20px; /* 设置字体大小 */

    background-image: url("/img/banner.jpg"); /* 设置背景图片 */
    text-align: center;  /* 居中容器内容 */

    text-shadow: 0 1px rgba(0,0,0,0.3); /* 设置字体阴影 */
}

.main-header__avatar {
    width: 150px; /* 固定宽度 */
    border: 2px solid #ffffff; /* 添加白色边框 */
    margin-top: -70px; /* 使头像溢出头部容器 */
    margin-bottom: 10px; /* 设置头像下外边距 */

    box-shadow: 0 0 2px 1px rgba(0,0,0,0.2); /* 给头像加阴影 */
    border-radius: 999px; /* 变成圆形边框 */
}

.main-header h1 {
    margin: 0 0 20px; /* 设置标题外边距 */
}

.main-nav {
    background-color: #333; /* 导航背景颜色 */
    text-align: center; /* 将导航内容居中 */
}

.main-nav ul li {
    margin: 15px 10px; /* 设置外边距 */
}

.main-nav ul li a {
    color: #fff; /* 导航字体颜色为白色 */
    font-size: 0.9rem; /* 设置字体大小 */
    font-weight: 300;  /* 设置字体粗细 */
    text-transform: uppercase; /* 内容变为大写 */
    text-decoration: none; /* 去掉下划线 */
}

.main-nav ul li a:hover {
    text-decoration: underline; /* 悬停时出现下划线 */
}